@media only screen and (max-width: 1800px) {
  .image-container {
    width: 33.3333%;
  }
}
@media only screen and (max-width: 1500px) {
  /*.welcome-hover h3 {
    font-size: 200%;
  }*/
}
@media only screen and (max-width: 1200px) {
  .image-container {
    width: 50%;
  }
  .welcome-hover h3 {
    font-size: 3.3vw;
  }
  .content .image-last {
    display: none;
  }
}
@media only screen and (max-width: 990px) {
  .title-image h3 {
    font-size: 120%;
  }
  .item-cell h4 {
    font-size: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .nav-side-menu {
    top: 0;
    left: 0;
    right: 0;
    height: 4em;
    width: 100%;
    z-index: 2001;
    padding-left: 10px;
    padding-right: 10px;
  }
  .logo {
    height: 4em;
  }
  .logo img {
    width: 5em;
  }
  .social-icon {
    display: none;
  }
  .nav-device {
    display: block !important;
  }
  .nav-list {
    display: none;
  }
  .content {
    width: 100%;
    margin-top: 4em;
    float: none;
  }
  .image-container {
    width: 100%;
  }
  .title-image h3 {
    font-size: 250%;
  }
  .item-cell h4 {
    font-size: 200%;
  }
  .welcome-hover h3 {
    font-size: 6.3vw;
    margin-top: 16%;
  }
  .about-template {
    width: 100%;
    margin-top: 80px;
    margin-left: 0px;
  }
  .entry-body {
    margin-left: 35px;
    margin-right: 35px;
  }
  .entry-header {
    margin-left: 35px;
  }
}
@media only screen and (max-height: 725px) {
  .social-icon {
    position: relative;
  }
}
