@media only screen and (max-width: 1800px) {
  .image-container {
    width: 33.3333%
  }
}
@media only screen and (max-width: 1200px) {
  .image-container {
    width: 50%;
  }
}
@media only screen and (max-width: 990px) {
  .title-image h3 {
    font-size: 120%;
  }
  .item-cell h4 {
    font-size: 100%;
  }
}
