@media only screen and (max-width: 1800px) {
  .image-container {
    width: 33.3333%;
  }
}
@media only screen and (max-width: 1500px) {
  /*.welcome-hover h3 {
    font-size: 200%;
  }*/
}
@media only screen and (max-width: 1200px) {
  .image-container {
    width: 50%;
  }
  .welcome-hover h3 {
    font-size: 3.3vw;
  }
  .content>div:last-child {
    display: none;
  }
}
@media only screen and (max-width: 990px) {
  .title-image h3 {
    font-size: 120%;
  }
  .item-cell h4 {
    font-size: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .nav-side-menu {
    top: 0;
    left: 0;
    right: 0;
    height: 4em;
    width: 100%;
    z-index: 2001;
  }
  .logo {
    display: none;
  }
  .nav-list {
    display: none;
  }
  .content {
    width: 100%;
    margin-top: 4em;
    float: none;
  }
  .image-container {
    width: 100%;
  }
  .title-image h3 {
    font-size: 250%;
  }
  .item-cell h4 {
    font-size: 200%;
  }
  .welcome-hover h3 {
    font-size: 6.3vw;
    margin-top: 16%;
  }
}
