$grey: #242423;
$grey-light: #2b2b2b;
$border-list: #333638;
$violet: #FF3B77;
$yellow: rgba(255,252,0, 0.8);

$sans: 'Open Sans', sans-serif;
body {
  font-family: $sans;
  margin: 0;
  padding: 0;

}
.nav-side-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: $grey;
  height: 100%;
  width: 250px;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li:first-child {
      border-top: 1px solid $border-list;
      border-bottom: 1px solid $border-list;
    }
    li:hover {
      background: $grey-light;
      color: $violet;
      cursor: pointer;
      a {
        color: $violet;
      }
    }
    li {
      height: 40px;
      padding-left: 10px;
      padding-top: 7px;
      padding-bottom: 5px;
      box-sizing: border-box;
      border-bottom: 1px solid $border-list;
    }
  }
}
.logo {
  height: 200px;
}
.content {
  width: calc(100% - 250px);
  float: right;
}
.image-container {
  display: inline-block;
  position: relative;
  width: 25%;
  margin-left: -4px;
  margin-top: -5px;
  a {
    position: relative;
    width: 100%;
    display: block;
  }
}
.image-item {
  width: 100%;
  height: auto;
  img {
    width: 101%;
    height: auto;
  }
}
.image-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 5px;
  right: 0;
  z-index: 2000;
  background: $yellow;
  opacity: 0;

  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;

  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;

  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;

  &:hover {
    opacity: 1;
  }
}
.div-hover {

}
