$grey: #242423;
$grey-light: #2b2b2b;
$text-light: #91908e;
$border-list: #333638;
$violet: #FF3B77;
$yellow: rgba(255,252,0, 0.8);
$green: #96CA2D;

$sans: 'Open Sans', sans-serif;
$title: 'Slabo 27px', serif;

body {
  font-family: $sans;
  margin: 0;
  padding: 0;
  min-width: 450px;
}

.nav-side-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: $grey;
  height: 100%;
  width: 250px;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li:first-child {
      border-top: 1px solid $border-list;
      border-bottom: 1px solid $border-list;
    }
    li:hover {
      background: $grey-light;
      color: $violet;
      cursor: pointer;
      a {
        color: $violet;
      }
    }
    li {
      height: 40px;
      padding-left: 10px;
      padding-top: 7px;
      padding-bottom: 5px;
      box-sizing: border-box;
      border-bottom: 1px solid $border-list;
    }
  }
}
.logo {
  height: 200px;
  img {
    width: 100%;
    height: auto;
  }
}
.nav-device {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2002;
  opacity: 0.8;
  display: none;
  span {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url("../../img/icon/ham.png") no-repeat center;
    cursor: pointer;
  }
}
.content {
  width: calc(100% - 250px);
  float: right;
  div:nth-child(4) a {
    cursor: default;
  }
}

.image-container {
  display: inline-block;
  position: relative;
  width: 33.3333%;
  margin-left: -4px;
  margin-top: -5px;
  a {
    position: relative;
    width: 100%;
    display: block;
  }
}
.image-item {
  width: 100%;
  height: auto;
  img {
    width: 101%;
    height: auto;
  }
}
.welcome-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 5px;
  right: 0;
  z-index: 2000;
  background: $yellow;
  opacity: 0.9;
  h3 {
    text-align: center;
    font-size: 2.3vw;
    color: $grey;
    font-family: $title;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 12%;
  }
}
.image-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 5px;
  right: 0;
  z-index: 2000;
  background: $yellow;
  opacity: 0;

  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;

  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;

  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;

  &:hover {
    opacity: 1;
  }
}
.div-hover, .div-hover-bottom {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 5px;
  right: 0;
}
.title-image {
  position: absolute;
  top: 0;
  left: 0;
  h3 {
    text-transform: uppercase;
    padding-left: 20px;
    color: $grey;
    font-family: $title;
    font-weight: 400;
    font-size: 24px;
  }
}
.item-cell {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  h4 {
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding: 5px 40px 5px 40px;
    color: $grey;
    font-family: $title;
    font-weight: 400;
    font-size: 18px;
  }
  span.folder {
    background: url("../../img/icon/folder.png") no-repeat center;
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 5px;
    left: -15px;
  }
  span.heart {
    background: url("../../img/icon/heart.png") no-repeat center;
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 10px;
    float: right;
    cursor: pointer;
  }
}
.social-icon {
  margin-top: 40px;
  position: absolute;
  bottom: 1%;
  h4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    color: $text-light;
  }
  h5 {
    text-align: center;
    font-weight: 300;
    margin-top: 50px;
    color: $green;
    position: relative;
    bottom: 10px;
  }
}
ul.site-social-links {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    border: none;
  }
  li:hover {
    background: inherit;
  }
  li:first-child {
    border: none;
    &:hover {
      background: inherit;
    }
    span {
      display: inline-block;
      width: 48px;
      height: 48px;
      background: url("../../img/icon/email-gray.png") no-repeat center;
      &:hover {
        background: url("../../img/icon/email.png") no-repeat center;
      }
    }
  }

  li:nth-child(2) {
    border: none;
    &:hover {
      background: inherit;
    }
    span {
      display: inline-block;
      width: 48px;
      height: 48px;
      background: url("../../img/icon/facebook-gray.png") no-repeat center;
      &:hover {
        background: url("../../img/icon/facebook.png") no-repeat center;
      }
    }
  }

  li:nth-child(3) {
    border: none;
    &:hover {
      background: inherit;
    }
    span {
      display: inline-block;
      width: 48px;
      height: 48px;
      background: url("../../img/icon/googleplus-gray.png") no-repeat center;
      &:hover {
        background: url("../../img/icon/googleplus.png") no-repeat center;
      }
    }
  }

}
