body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0; }

.nav-side-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #242423;
  height: 100%;
  width: 250px;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box; }
  .nav-side-menu a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff; }
  .nav-side-menu ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .nav-side-menu ul li:first-child {
      border-top: 1px solid #333638;
      border-bottom: 1px solid #333638; }
    .nav-side-menu ul li:hover {
      background: #2b2b2b;
      color: #FF3B77;
      cursor: pointer; }
      .nav-side-menu ul li:hover a {
        color: #FF3B77; }
    .nav-side-menu ul li {
      height: 40px;
      padding-left: 10px;
      padding-top: 7px;
      padding-bottom: 5px;
      box-sizing: border-box;
      border-bottom: 1px solid #333638; }

.logo {
  height: 200px; }

.content {
  width: calc(100% - 250px);
  float: right; }

.image-container {
  display: inline-block;
  position: relative;
  width: 25%;
  margin-left: -4px;
  margin-top: -5px; }
  .image-container a {
    position: relative;
    width: 100%;
    display: block; }

.image-item {
  width: 100%;
  height: auto; }
  .image-item img {
    width: 101%;
    height: auto; }

.image-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 5px;
  right: 0;
  z-index: 2000;
  background: rgba(255, 252, 0, 0.8);
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .image-hover:hover {
    opacity: 1; }

.div-hover, .div-hover-bottom {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 5px;
  right: 0; }

.title-image {
  position: absolute;
  top: 0;
  left: 0; }
  .title-image h3 {
    text-transform: uppercase;
    padding-left: 20px;
    color: #242423;
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-size: 24px; }

.item-cell {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
  .item-cell h4 {
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding: 5px 40px 5px 40px;
    color: #242423;
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-size: 18px; }
  .item-cell span.folder {
    background: url("../../img/icon/folder.png") no-repeat center;
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 5px;
    left: -15px; }
  .item-cell span.heart {
    background: url("../../img/icon/heart.png") no-repeat center;
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 10px;
    float: right;
    cursor: pointer; }
